* {
  margin-inline: auto;

  text-align: center;
}

.anime-facts {
  font-size: clamp(3rem, 10vw + 1rem, 5rem);
  font-weight: light;
}
.anime-container {
  width: min(90%, 1000px);
}
.anime-box {
  float: left;
  padding: 2rem;
}

.anime-image {
  width: 15rem;
  height: 20rem;
}

@media (max-width: 700px) {
  .anime-box {
    float: none;
  }
}
