* {
  margin-inline: auto;
  /* width: min(90%, 1000px); */

  box-sizing: border-box;
  text-align: center;
}

.anime-facts {
  font-size: 9rem;
  font-weight: light;
}
.anime-container {
  padding-left: 2rem;
  width: min(90%);
}
.anime-box {
  float: left;
  padding: 2rem;
}

.anime-image {
  width: 15rem;
  height: 20rem;
}

/* @media (max-width: 62em) {
  .anime-image {
    width: 30rem;
    height: 40rem;
  }
  .anime-container {
    padding-left: 1rem;
  }
} */
